
.padding0                                           { padding: 0px; }
.padding1                                           { padding: 10px; }
.margin0                                            { margin: 0; }
.error                                              { border: 1px #ed4b49 solid !important; }
#page                                               { width: 100%; @include calc(min-height, "100% - 0px"); background: #f5f5f5; }
.remove_margin                                      { margin-left: 0; }
button.btn                                          { position: relative; z-index: 1; border:0; border-radius: 0;  outline: 0 !important;  box-shadow: none; @include transitionEffect(0.4s,all,ease);  padding: 10px 20px; color: #fff;
  &.loader                                          { background-image: url($image-path +"loader.gif");  background-size: 23px; background-repeat: no-repeat; background-position: 50%; }
}
.modal-backdrop                                     { background-color: #00679a;
  &.in                                              { filter: alpha(opacity=50); opacity: 0.85; }
}
.close                                              { color: #fff; opacity: 1; font-weight: 400; display: none;
  &:hover                                           { opacity:  0.8; color: #fff; }
}
.loader_                                            { position: absolute; background-image: url($image-path +"loader.gif"); background-size: 30px !important; background-repeat: no-repeat !important; background-position: 50% 40% !important; background-color: rgba(255,255,255,0.9); height: 100%; width: 100%; z-index: 100;
  &.white                                         { background-color: rgba(255,255,255,0.97); }
}
.header_bg                                          { background-image: url($image-path +"header_bg.jpg"); background-attachment: fixed;background-position: center top; background-size: 100%;  height: 230px; font-family: Montserrat-SemiBold; display: table; width: 100%;
  &.mini                                          { height: 210px; }
  .header_content                                  { display: table; height: inherit; position: relative;
    .header_content_inner                       { display: table-cell; vertical-align: middle;
      button.backn, button.back               { position: absolute; background: rgba(255, 255, 255, 0.15); border-radius: 50%;  margin-top: 20px; font-size: 16px; width: 40px; height: 40px; padding: 12px; }
      h1                                      { color: #fff; text-transform: uppercase;  font-size: 27px; letter-spacing: 0.2rem; margin: 0; margin-top: 25px; }
    }
  }

}
.loader_inline                                      { background-image: url($image-path +"loader.gif"); background-size: 30px !important; background-repeat: no-repeat; background-position: 50%; }
.loader_inner                                       { background-image: url($image-path +"loader.gif") !important; background-size: 30px !important; background-repeat: no-repeat !important; background-position: 50% !important; transition: all 0s ease !important; }
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover           { background: none; color: inherit; }
.navbar-inverse                                     {
  .navbar-toggle                                  { border: 0; padding: 10px; margin-right: 0; float: left;
    .icon-bar                                   { background: $default_green; height: 3px; }
    &:hover, &:focus                            { background: transparent; }
  }
  .home_icon                                      {font-size: 25px; padding: 12px;
    .icon-tw                                    {color: $default_green; padding: 12px 9px;
      &:hover, &:focus                        {color: darken($dark_blue, 0%); background: #efefef; }
    }

  }
  .swipe-area                                     { position: absolute; width: 50px; left: 0;top: 0;height: 100%; background: #f3f3f3; z-index: 0;}
}

.btn_green                                          { background-color: $default_green;
  &:hover, &:focus                                { background-color: darken($default_green, 5%); color: #fff;}
}
.btn_red                                            { background-color: $default_red;
  &:hover, &:focus                                { background-color: darken($default_red, 5%); color: #fff;}
}

.btn_yellow                                         { background-color: $default_yellow;
  &:hover, &:focus                                  { background-color: darken($default_yellow, 5%); color: #fff;}
}


.btn_blue                                           { background-color: $default_blue;
  &:hover, &:focus                                  { background-color: darken($default_blue, 5%); color: #fff;}
}

.btn_gray                                           { background-color: $default_gray;
  &:hover, &:focus                                { background-color: darken($default_gray, 5%); color: #fff;}
}

.btn_dark_blue                                      { background-color: $dark_blue;
  &:hover, &:focus                                { background-color: darken($dark_blue, 5%); color: #fff;}
}

#portal_nav                                         {
  .mobile_nav_top                                  { float: right;
    .navbar-nav                                 { margin: 0; display: block; float: left;
      &.nav                                   {
        li                                  { float: left; height: 50px; width: 50px; text-align: center;
          a                               { padding: 0;
            button                      { margin: 0;  margin-right: 2px; }
          }
          &:last-child                    { border-right: 1px #e6e6e6 solid; }
        }
      }
    }
  }
}


#portal_nav.navbar                                  { background: #fff; border: 0; margin-bottom: 0; @include boxShadow(); height: 50px;
  a.navbar-brand                                  { padding: 10px 0; cursor: pointer;
    img                                         { width: 120px; }
  }
  .navlogo                                        { margin-left: 0;}
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: white;
    border-color: #337ab7;
  }
  .nav                                             {

    li                                           { height: 50px; display: table; font-family: Montserrat-light; border-left: 1px #e6e6e6  solid;
      &.lastli                                   { border-left: none; display: flex !important; }
      &.extra_info                             { border-right: 1px #e6e6e6  solid; padding: 0 10px; border-right: 1px #e6e6e6  solid;
        a                                      { line-height: 25px; padding: 12px 0 0 0;
          &:hover, &:focus                     { background: none; background-color: white; }
        }

      }

      ul.datetime                              { text-align: center; padding: 0 0 0 15px; font-size: $default_font_size - 3;  color: $default_green; display: table-cell; vertical-align: middle; width: 100px;
        li                                   { height: inherit; display: block; line-height: 15px; }
      }
      ul.dropdown-menu.settings_menu           { border: 0; margin-top: 1px; left: inherit; right: 0; padding: 0; min-width: 214px;
        li                                   { display: block; height: auto;
          a.Help                           {border-bottom: 1px #d1d3d8 solid;}
          a                                { line-height: inherit; display: block; text-align: left; font-size: $default_font_size - 3; padding: 7px 10px; color: $dark_blue; text-shadow: none; font-weight: 600; text-transform: uppercase;
            i                            { padding-right: 8px; font-size: 18px; vertical-align: middle;}

            &.sound                      { /* background: $default_green; */ border: 0; display: inline-block; margin: 0; float: left; text-transform: uppercase; letter-spacing: 0.03rem; border-right: 1px #c5bebe solid;
              &:hover, &:focus         { /* background: darken($default_green, 10%); */ }
            }
            .pe-7f-mute                  { color:$default_red; font-size: 15px;}
            &.logout                     { /* background: $default_red; */ border: 0; display: inline-block;  margin: 0; float: left; text-transform: uppercase; letter-spacing: 0.03rem;
              &:hover, &:focus         { /* background: darken($default_red, 10%); */ }
            }
            &.log_btn                    { /* background: $dark_blue; */ border: 0; display: inline-block;  margin: 0; float: left; text-transform: uppercase; letter-spacing: 0.03rem;
              &:hover, &:focus         { /* background: darken($dark_blue, 10%); */ }
            }
            &:hover, &:focus             { background: $dark_blue;  color: #fff; }
          }
          .bottm_support                   { text-align: center;}

        }
      }





      ul.dropdown-menu.message-menu               { border: 0; margin-top: 1px; left: inherit; right: 0; padding: 5px; min-width: 280px;
        .row                                    { margin:0px;}
        .header                                 { padding:10px 0;  margin: 0px;
          .col                                {
            p                               { font-size: 12px; color:#014b70; line-height: inherit; font-family: Montserrat-SemiBold;}
            a                               { font-size: 12px; text-decoration: underline; color:#01adef; text-decoration: none;
              &:hover                     { background-color:inherit;}
            }
          }
        }

        .scroller                               { height:100px; overflow-y:scroll;
          li                                  { margin: 0px 20px 3px 0px; background-color: #fbe3e3; height: auto; width: calc(100% - 5px); padding:0px; box-shadow: none;  border-radius: 0;
            a                               { color:#e73f3f; line-height: inherit; display: block; text-align: left; font-size: 11px; padding: 5px 15px; height: auto;
              &:hover                     { background-color: inherit;}
            }
          }
        }

        .scroller::-webkit-scrollbar            { width:  10px; }
        .scroller::-webkit-scrollbar-thumb      { background: #00aeed;}

        .scroller::-webkit-scrollbar-track      { background: #aadff1;}
      }


      ul.dropdown-menu.notification-menu          { border: 0; margin-top: 1px; left: inherit; right: 0; padding: 5px; min-width: 310px;
        .row                                    { margin:0px;}
        .header                                 { padding:10px 0; margin: 0px;
          .col                                {
            p                               { font-size: 12px; color:#014b70; line-height: inherit; font-family: Montserrat-SemiBold;}
            a                               { font-size: 12px; text-decoration: underline; color:#01adef;
              &:hover                     { background-color:inherit;}
            }
          }
        }

        .scroller                               { height:165px; overflow-y:scroll;
          li                                  { margin: 0px 20px 5px 0px; background-color: #fbe3e3; height: auto; width: calc(100% - 5px); padding:0px 15px;
            a                               { color:#e73f3f; line-height: inherit; display: block; text-align: left; font-size: 12px; padding: 8px 0px; height: auto;
              &:hover                     { background-color: inherit;}
            }
          }
        }

        .scroller::-webkit-scrollbar            { width:  10px;
        }
        .scroller::-webkit-scrollbar-thumb      { background: #00aeed;}

        .scroller::-webkit-scrollbar-track      { background: #aadff1;}
      }

      .user_personal_details                   { display: table; height: inherit; padding: 0 15px; padding-top: 10px; cursor: pointer;
        .user_img                            { height: 30px; width: 30px; overflow: hidden; border-radius: 50%; margin-right: 5px; display: inline-block; float: left; background-size: cover;
          img                              { width: 100%; height: 100%; border-radius: 50%; }
        }
        .user_name                           { font-size: 12px; line-height: 13px; color: $default_green; padding-left: 5px; max-width: 180px; display: inline-block;  text-overflow: ellipsis; white-space: nowrap; margin-top: 8px; float: left; overflow: hidden; }
        &:hover                              {
          .user_name                       { color: $dark_blue;  }
        }
      }
      &:nth-child(1)                           {
        a i                                  { font-weight: 400; }
      }
      a                                        { font-size: 25px; font-weight: 600; color: $default_green; box-shadow: none; border-radius: 0; @include transitionEffect(0.6s,all,ease); padding: 0 15px; display: table-cell; vertical-align: middle;
        &.btn                                { width: 50%; display: inline-block; color: #fff;}
        i                                    { font-weight: 400; vertical-align: text-bottom; }
        .notification-count                  { font-size: 7px; background-color: #e73f3f; color: white; border-radius: 50%; position:absolute; top: 6px; right: 10px; height: 16px; width: 16px; display: flex; align-items: center; justify-content: center; font-family: Montserrat-light;}
        &:hover                              { color: darken($dark_blue, 0%); background: #efefef; /*text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.27); */}
      }
    }
  }
}

.off_canvas_nav                                     { width: 250px; background: #fff; position: fixed; z-index: 1000; height: 100%; left: -250px; padding-top: 50px;  @include transitionEffect(0.4s,all,ease); max-height: 700px; overflow-y: scroll; -webkit-overflow-scrolling:touch;
  &.active                                        { left: 0; }
  ul.nav                                          { color: #fff; font-size: 12px; text-align: center; font-family: Montserrat-light;
    li:nth-child(2)                                {margin-top:20px;}
    li                                          {
      &.open                                  {
        a                                   { background: lighten($dark_blue, 5%);
          &:hover, &:focus                { }
        }
      }
      a                                       { color: $dark_blue; font-weight: 600; font-size: 12px; letter-spacing: 0.05rem; text-align: left; border-bottom: 1px rgba(255, 255, 255, 0.08) solid; padding: 6px 15px; box-shadow: none; line-height: 35px; top: 1px; border-radius: 0; text-transform:uppercase;
        .notification-count                 { font-size: 7px; background-color: #e73f3f; color: white; border-radius: 50%; position: absolute; top: 6px; right: 10px;  height: 16px; width: 16px; display: flex; align-items: center; justify-content: center; font-family: Montserrat-light; }
        i, img                              { font-size: 24px; vertical-align: middle; margin-right: 20px; position: relative; top: -1px; }
        span.caret                          { position: absolute; top: 15px; right: 10px; }
        &:hover, &:focus                    { background: $dark_blue; color:#fff;}
      }
      ul.dropdown-menu                        { padding: 0; }
    }
    &.navbar-nav                                { margin: 0;}
    .user_personal_details                      { padding: 30px 10px 20px 10px; background: #005682; background-image: url($image-path +"header_bg.jpg"); background-size: cover; background-position: 70%;
      .user_img                               { width: 70px; height: 70px; border-radius: 50%;  display: block; margin: auto;
        img                                 { width: 100%; border-radius: 50%; overflow: hidden;}
      }
      .user_name                              { margin-top: 10px; }

    }
  }
}
/* .off_canvas_nav.open-sidebar                        { left: 240px;} */


/*************************** Loader *******************************/

#loader                                             { position: relative; z-index: 10001;  display: table-cell; vertical-align: middle; }
#loader-wrapper                                     { position: fixed;  top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; display: table;
  .loader-section                                 { position: fixed; top: 0; width: 51%; height: 100%; background: #fff ; z-index: 1000;
    &.section-left                              { left: 0; }
    &.section-right                             { right: 0; }
  }
}

.loaded                                             {
  #loader-wrapper                                 { opacity: 0;  -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; visibility: hidden; }

}

.off_canvas_bg {

  &.nav_hide                                       { visibility: hidden; }
  &.nav_show                                       { visibility: visible ;  position: fixed; background: rgba(0, 0, 0, 0.65); width: 100%; z-index: 10; height: 100%;  }


}

.logout_confirm_box, .quit_test_msgbox              { margin: 15% auto;
  .modal-content                                    { border-radius: 0;  background: #f2f2f2; border: 0; }
  &.modal-dialog                                     { max-width: 450px; }
  .modal-header                                     { background: $dark_blue; color: #fff; border-radius: 0; padding: 10px 15px; text-transform: capitalize;  font-size: $default_font_size - 1; }
  .modal-header                                     { letter-spacing: 0.06rem; }
  .modal-body                                       { color: $dark_blue; font-size: $default_font_size - 1; line-height: 17px;
    input.form-control                              { margin-top: 10px; border-radius: 0; border: 1px lighten($dark_blue, 0%) solid; color: $dark_blue; height: auto; padding: 3px 12px; outline: 0; box-shadow: none; }
    .radio                                          { margin-bottom: 20px; line-height: 20px; }
    ul                                              { margin-bottom: 10px;
      li                                            { }
    }
    p                                                 { font-size: $default_font_size - 2; line-height: 15px; }
  }
  .modal-footer                                       { border: 0; padding-top: 0;
    button.btn                                      { font-size: $default_font_size - 2; padding: 10px 20px; letter-spacing: 0.06rem;  }
  }
}




.additional_details                                 {
  .modal-header, .modal-footer                    { display: none; }
  .modal-content                                  { background: transparent; box-shadow: none; }
}

/** Pre-Loader **/
@-ms-keyframes uil-flickr-anim1{0%,100%{left:0}50%{left:35px}}@-moz-keyframes uil-flickr-anim1{0%,100%{left:0}50%{left:35px}}@-webkit-keyframes uil-flickr-anim1{0%,100%{left:0}50%{left:35px}}@-o-keyframes uil-flickr-anim1{0%,100%{left:0}50%{left:35px}}@keyframes uil-flickr-anim1{0%,100%{left:0}50%{left:35px}}@-ms-keyframes uil-flickr-anim2{0%,49%{z-index:1}0%,100%{left:35px}100%,50%{z-index:10}50%{left:0}}@-moz-keyframes uil-flickr-anim2{0%{left:35px;z-index:1}49%{z-index:1}50%{left:0;z-index:10}100%{left:35px;z-index:10}}@-webkit-keyframes uil-flickr-anim2{0%{left:35px;z-index:1}49%{z-index:1}50%{left:0;z-index:10}100%{left:35px;z-index:10}}@-o-keyframes uil-flickr-anim2{0%{left:35px;z-index:1}49%{z-index:1}50%{left:0;z-index:10}100%{left:35px;z-index:10}}@keyframes uil-flickr-anim2{0%{left:35px;z-index:1}49%{z-index:1}50%{left:0;z-index:10}100%{left:35px;z-index:10}}.uil-flickr-css{background:0 0;position:relative;width:70px;height:70px;display:block;margin:auto}.uil-flickr-css>div{width:30px;height:30px;border-radius:50px;position:absolute;top:40px}.uil-flickr-css>div:nth-of-type(1){left:0;background:#00aeed;z-index:5;-ms-animation:uil-flickr-anim1 1.5s linear infinite;-moz-animation:uil-flickr-anim1 1.5s linear infinite;-webkit-animation:uil-flickr-anim1 1.5s linear infinite;-o-animation:uil-flickr-anim1 1.5s linear infinite;animation:uil-flickr-anim1 1.5s linear infinite}.uil-flickr-css>div:nth-of-type(2){left:100px;background:#00a482;-ms-animation:uil-flickr-anim2 1.5s linear infinite;-moz-animation:uil-flickr-anim2 1.5s linear infinite;-webkit-animation:uil-flickr-anim2 1.5s linear infinite;-o-animation:uil-flickr-anim2 1.5s linear infinite;animation:uil-flickr-anim2 1.5s linear infinite}


@media (min-width: 768px) and (max-width: 991px) {
  .navbar>.container-fluid .navbar-brand { margin: 0; }
  .container {
    width: 100%;
  }

}

.form-container 											{width: 100%; float: left; height: 100%;
  .form-container-middle  								{width: 100%; float: left;}

}
