@font-face {
  font-family: 'icomoon';
  src: url($custom-icon-path +"/icomoon.eot?um15ew");
  src: url($custom-icon-path +"/icomoon.eot?um15ew#iefix") format("embedded-opentype"), url($custom-icon-path +"/icomoon.ttf?um15ew") format("truetype"), url($custom-icon-path +"/icomoon.woff?um15ew") format("woff"), url($custom-icon-path +"/icomoon.svg?um15ew#icomoon") format("svg");
  font-weight: normal;
  font-style: normal
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-expiry_date:before {
  content: "\e900";
  color: #fff;
}
.icon-grade:before {
  content: "\e901";
  color: #fff;
}
.icon-package_costpath1:before {
  content: "\e902";
  color: #fff;
}
.icon-package_costpath2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-payment-term:before {
  content: "\e904";
  color: #fff;
}
.icon-learn:before {
  content: "\e905";
}
.icon-cent:before {
  content: "\e906";
}
.icon-chall:before {
  content: "\e907";
}
.icon-Top_Bug:before {
  content: "\e908";
}
.icon-artist:before {
  content: "\e909";
}
.icon-ambition:before {
  content: "\e910";
}
.icon-interests:before {
  content: "\e911";
}
.icon-quote:before {
  content: "\e912";
}
.icon-subject:before {
  content: "\e913";
}
.icon-topic:before {
  content: "\e914";
}
.icon-losses:before {
  content: "\e915";
}
.icon-feedback:before {
  content: "\e916";
}
.icon-draws:before {
  content: "\e917";
}
.icon-left-arrow:before {
  content: "\e918";
}
.icon-wins:before {
  content: "\e919";
}
.icon-Help:before {
  content: "\e91a";
}
.icon-matches:before {
  content: "\e91b";
}
.icon-logout:before {
  content: "\e91c";
}
.icon-remove-symbol:before {
  content: "\e91d";
}
.icon-save-file:before {
  content: "\e91e";
}
.icon-search-ico:before {
  content: "\e91f";
}
.icon-notification:before {
  content: "\e920";
}
.icon-message:before {
  content: "\e921";
}
.icon-tw:before {
  content: "\e922";
}
.icon-open-book:before {
  content: "\e923";
}
.icon-myaccount:before {
  content: "\e924";
}
.icon-password:before {
  content: "\e925";
}
.icon-save:before {
  content: "\e926";
}
.icon-clear:before {
  content: "\e927";
}
.icon-premium:before {
  content: "\e928";
}
.icon-edit:before {
  content: "\e929";
}
.icon-module:before {
  content: "\e92a";
}
.icon-user:before {
  content: "\e92b";
}
.icon-settings:before {
  content: "\e92c";
}
.icon-delete:before {
  content: "\e92d";
}
.icon-icon:before {
  content: "\e92e";
}
.icon-email:before {
  content: "\e92f";
}
.icon-share:before {
  content: "\e930";
}
.icon-pause2:before {
  content: "\ea1d";
}


